@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* range slider */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-blue-500;
}

@layer components {
  .filter-heading {
    @apply text-base font-semibold;
  }

  .filter-element {
    @apply mt-3;
  }

  .convenience-badge {
    @apply cursor-pointer px-3 py-2 inline-block bg-white border-2
     border-gray-200 border-opacity-60 rounded-2xl transition-all duration-200 ease-out shadow-md
      hover:border-gray-900 hover:scale-[1.02] active:border-gray-900 active:scale-[1.02] m-2;
  }
  .badge-select {
    @apply border-gray-900 scale-[1.02];
  }
  .convenience-badge-icon {
    @apply hidden md:inline-flex text-gray-400 rounded-full 
    cursor-pointer mx-2 transition-all duration-200 ease-out 
    hover:-translate-y-[.5px] pointer-events-none;
  }
  .convenience-badge-text {
    @apply text-base text-gray-800 align-middle whitespace-nowrap mx-2 pointer-events-none;
  }
}
